.d-flex.flex-column.gap-4 
  .card.rounded-4.border-0
    .card-body.p-5
      .d-flex.flex-column.gap-4.py-4
        .text-center.text-danger.text-uppercase
          small free plan
        .d-flex.justify-content-center 
          .rounded-3(style="width: 100px; height: 100px;")
            img.w-100.h-100.object-fit-cover.rounded-2(src="/img/contents/profile.jpeg", alt="Hery")
        .text-center 
          small.text-secondary.text-capitalize selamat datang 
          h6.text-uppercase Hery Priyabudi 
        .text-center 
          button.text-uppercase.btn.btn-light.text-secondary(type="button") admin
  .card.rounded-4.border-0
    .card-body.p-5
      .d-flex.flex-column.gap-4.py-4
        .text-center 
          img(src="/img/symbol/symbol-usaha.png", alt="symbol usaha")
        .text-center.px-4
          p Buatlah Usahamu, lalu kembangkan usahamu bersama pengusaha lain sampai Level layak invest
        .d-grid
          button.btn.btn-danger.py-2.text-uppercase(type="button") directory usaha
  .card.rounded-4.border-0
    .card-body.p-5
      .d-flex.flex-column.gap-4.py-4
        .text-center 
          img(src="/img/symbol/symbol-support.png", alt="symbol support")
        .text-center.px-4
          p Jangan khawatir siapa yang akan membantumu, ada Tim Indowira akan support kebutuhan usahamu
        .d-grid
          button.btn.btn-danger.py-2.text-uppercase(type="button") directory support
  .card.rounded-4.border-0
    .card-body.p-5
      .d-flex.flex-column.gap-4.py-4
        .text-center 
          img(src="/img/symbol/symbol-reseller.png", alt="symbol reseller")
        .text-center.px-4
          p Bangun pasukan reseller anda
        .d-grid
          button.btn.btn-danger.py-2.text-uppercase(type="button") directory reseller
  .card.rounded-4.border-0
    .card-body.p-5
      .d-flex.flex-column.gap-4.py-4
        .text-center 
          img(src="/img/symbol/symbol-syirkah.png", alt="symbol syirkah")
        .text-center.px-4
          p Bergabunglah untuk investasi kepada Leader Level 4 yang ada didekatmu
        .d-grid
          button.btn.btn-danger.py-2.text-uppercase(type="button") directory syirkah