.d-flex.flex-column.gap-4 
  .card.rounded-4.border-0
    .card-body.px-5.py-7
      .d-flex.flex-column.gap-4 
        .text-center 
          img(src="/img/contents/indowira-logo.png", alt="Logo Indowira")
        .text-center 
          button(type="button" data-bs-toggle="modal" data-bs-target="#modal-change-komunitas").btn.text-info Ganti Komunitas 
        .d-grid
          button.btn.btn-primary.text-uppercase.py-2(type="button") Pengurus
  .card.rounded-4.border-0
    .card-body.p-5
      .d-flex.flex-column.gap-5
        .card.border-0.shadow-sm
          .car-body.pt-4
            .text-center.mb-4.px-4
              small.fw-medium.text-warning Lengkapi Profile
            .mb-4.px-4.d-flex.align-items-center.gap-2.text-secondary
              img.rounded-circle.object-fit-cover.d-block(src="/img/contents/profile.jpeg",width="40", height="40", alt="Profile", style="width:40px;height:40px")
              i.bi.bi-list-check.fs-5
              small 4/5
            .progress(role='progressbar' aria-label='Warning example' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100' style="height: 4px")
              .progress-bar.bg-warning(style='width: 75%')
        .text-center 
          h5.mb-0.fw-semibold 2.023 Member
        .d-grid
          button.btn.btn-primary.text-uppercase.py-2(type="button") Directory member
        ul.nav.nav-fill.tabs-side.border-top.border-bottom(id="myTab" role="tablist")
          li.nav-item
            button.nav-link.active(type="button" id="baru-tab" data-bs-toggle="tab" data-bs-target="#baru-tab-pane" role="tab" aria-controls="home-tab-pane" aria-selected="true")
              | Baru
          li.nav-item
            button.nav-link(type="button" id="aktif-tab" data-bs-toggle="tab" data-bs-target="#aktif-tab-pane" role="tab" aria-controls="aktif-tab-pane" aria-selected="false")
              | Aktif
          li.nav-item
            button.nav-link(type="button" id="popular-tab" data-bs-toggle="tab" data-bs-target="#popular-tab-pane" role="tab" aria-controls="popular-tab-pane" aria-selected="false")
              | Popular
        #myTabContent.tab-content
          .tab-pane.tabs-side-slide.show.active#baru-tab-pane(role="tabpanel" aria-labelledby="baru-tab" tabindex="0")
            .d-flex.flex-column.gap-2
              each data in [1,2,3,4,5,6,7,8]
                .d-flex.align-items-center.gap-4.p-4
                  img.rounded-circle.object-fit-cover.d-block(src="/img/contents/profile.jpeg",width="40", height="40", alt="Profile", style="width:40px;height:40px")
                  div 
                    small.fw-medium.d-block Agnes Moody
                    small.text-secondary Spotify website redesign
          .tab-pane.tabs-side-slide#aktif-tab-pane(role="tabpanel" aria-labelledby="aktif-tab" tabindex="0")
            .p-5.bg-primary
          .tab-pane.tabs-side-slide#popular-tab-pane(role="tabpanel" aria-labelledby="popular-tab" tabindex="0")
            .p-5.bg-primary
  .card.rounded-4.border-0
    .card-body.px-5.py-6
      .d-flex.flex-column.gap-4
        .text-center
          img(src="/img/symbol/symbol-cs.png", alt="Contact Us")
        .text-center 
          small Hubungi Admin Indowira Untuk kolaborasi
        .d-grid
          button.btn.btn-primary.text-uppercase.py-2(type="button") contact us 082112124452