---
title: 'Tambah Kategori'
currentUrl: 'komunitas'
---
extends ../layouts/layout
block header
  include ../partials/header
block footer
  include ../partials/footer
block content
  main.content.container-fluid
    .mx-lg-7.py-5
      .row.g-4
        .col-3
          include ../partials/side-profile
        .col-9 
          .d-flex.flex-column.gap-4 
            .card.rounded-3.border-0
              .card-body.px-5.py-4
                +btnback(title)
            .card.rounded-3.border-0
              .card-body.p-5 
                .d-flex.flex-column.gap-5 
                  .text-end 
                    button.btn.btn-secondary(type="button") Cancel 
                    button.btn.btn-primary.ms-3(type="button") Simpan
                  hr.my-0
                  .row.row-cols-2.gy-5
                    .col-12
                      div 
                        label.form-label.small(for="") Nama Kategori
                        input.form-control#nama(type="text" placeholder="Nama Kategori")
                    .col
                      div 
                        label.form-label.small(for="") Harga
                        input.form-control#harga(type="text" placeholder="Harga Kategori")
                    .col
                      div 
                        label.form-label.small(for="") Satuan
                        input.form-control#satuan(type="text" placeholder="Satuan Kategori")
                    .col-12
                      div 
                        label.form-label.small(for="membership") Membership
                        select#membership.select.wide(name="membership")
                          option(value="") Free
                          option(value="1") Berbayar
                    .col-12 
                      div 
                        label.form-label.small(for="fitur") Fitur
                        select#fitur.select.wide(name="fitur")
                          option(value="") Pilih Kategori Fitur
                          option(value="1") Sekolah/kampus/alumni
                          option(value="2") Perumahan
                          option(value="3") Keluarga
                          option(value="4") Wirausaha/bisnis
                          option(value="5") Hoby
                          option(value="6") Asosiasi/perkumpulan profit
                          option(value="7") Asosiasi/perkumpulan non profit