---
title: 'Master Feed'
currentUrl: 'feed'
---
extends ../layouts/layout
block header
  include ../partials/header
block footer
  include ../partials/footer
block content
  main.content.container-fluid
    .mx-lg-7.py-5
      .row.g-4
        .col-3
          include ../partials/side-profile
        .col-9 
          .d-flex.flex-column.gap-4 
            .card.rounded-3.border-0
              .card-body.px-5.py-4
                .text-center 
                  h5.mb-0=title
            .card.rounded-3.border-0
              .card-body.p-5 
                .d-flex.flex-column.gap-5 
                  .rounded-3.bg-info-subtle.text-info.p-5
                    .text-center.mb-4
                      i.bi.bi-journal-check.fs-1
                    .text-center 
                      h6 KATEGORI POSTINGAN YANG DILARANG <br> (TERDETEKSI SARA, POLITIK, PORNO, DLL)
                  .rounded-3.bg-info-subtle.text-info.p-5
                    .text-center.mb-4
                      i.bi.bi-journal-text.fs-1
                    .text-center
                      h6 DATA POSTINGAN TERLAPOR, DATA <br> TEGURAN & DATA HAPUS MEMBER
