---
title: 'Laporan'
currentUrl: 'lapporan'
group: 'komunitas'
---
extends ../layouts/layout
block header
  include ../partials/header
block footer
  include ../partials/footer
block content
  main.content.container-fluid
    .mx-lg-7.py-5
      .row.g-4
        .col-3
          include ../partials/side-profile
        .col-9 
          .d-flex.flex-column.gap-4 
            .card.rounded-3.border-0
              .card-body.px-5.py-4
                .text-center 
                  h5.mb-0 Laporan
            .card.rounded-3.border-0
              .card-body.p-5 
                .row.row-cols-2.gy-5
                  .col 
                    .rounded-4.bg-info-subtle.text-info.p-5 
                      .mb-4.d-flex.justify-content-center
                        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 48 48' fill='none')
                          path(d='M4 14L44 14M28 24H36M28 32H36M14.8944 32.5528L20.4223 29.7889C21.8964 29.0518 21.8964 26.9482 20.4223 26.2111L14.8944 23.4472C13.5646 22.7823 12 23.7493 12 25.2361L12 30.7639C12 32.2507 13.5646 33.2177 14.8944 32.5528ZM12 44L36 44C40.4183 44 44 40.4183 44 36L44 12C44 7.58172 40.4183 4 36 4L12 4C7.58172 4 4 7.58172 4 12L4 36C4 40.4183 7.58172 44 12 44Z' stroke='#4D7CFE' stroke-width='1.5' stroke-linecap='round')
                        .text-center 
                          p MASTER KATEGORI KOMUNITAS
                  .col 
                    .rounded-4.bg-info-subtle.text-info.p-5 
                      .mb-4.d-flex.justify-content-center
                        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 48 48' fill='none')
                          circle(cx='12' cy='8' r='4' stroke='#4D7CFE' stroke-width='1.5')
                          ellipse(cx='12' cy='16' rx='6' ry='4' stroke='#4D7CFE' stroke-width='1.5')
                          circle(cx='36' cy='32' r='4' stroke='#4D7CFE' stroke-width='1.5')
                          path(d='M44 24C44 12.9543 35.0457 4 24 4M24 44C12.9543 44 4 35.0457 4 24' stroke='#4D7CFE' stroke-width='1.5' stroke-linecap='round')
                          ellipse(cx='36' cy='40' rx='6' ry='4' stroke='#4D7CFE' stroke-width='1.5')
                        .text-center 
                          p MASTER MEMBERSHIP KOMUNITAS
                  .col 
                    .rounded-4.bg-info-subtle.text-info.p-5 
                      .mb-4.d-flex.justify-content-center
                        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 48 48' fill='none')
                          path(d='M18 18L21.5056 20.8045C22.3414 21.4731 23.5554 21.3653 24.2602 20.5598L30 14M8 38L8 10C8 6.68629 10.6863 4 14 4L34 4C37.3137 4 40 6.68629 40 10V32M8 38C8 41.3137 10.6863 44 14 44H34C37.3137 44 40 41.3137 40 38L40 32M8 38C8 34.6863 10.6863 32 14 32L40 32' stroke='#4D7CFE' stroke-width='1.5' stroke-linecap='round')
                        .text-center
                          p KATEGORI KOMUNITAS YANG DILARANG <br> (TERDETEKSI SARA, POLITIK, PORNO, DLL)
                  .col 
                    .rounded-4.bg-info-subtle.text-info.p-5 
                      .mb-4.d-flex.justify-content-center
                        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 48 48' fill='none')
                          path(d='M6 8C6 5.79086 7.79086 4 10 4L38 4C40.2091 4 42 5.79086 42 8L42 40C42 42.2091 40.2091 44 38 44L10 44C7.79086 44 6 42.2091 6 40L6 8Z' stroke='#4D7CFE' stroke-width='1.5' stroke-linejoin='round')
                          path(d='M16 34H24' stroke='#4D7CFE' stroke-width='1.5' stroke-linecap='round')
                          path(d='M16 24L32 24' stroke='#4D7CFE' stroke-width='1.5' stroke-linecap='round')
                          path(d='M16 14L32 14' stroke='#4D7CFE' stroke-width='1.5' stroke-linecap='round')
                        .text-center
                          p DATA KOMUNITAS TERLAPOR, DATA TEGURAN & DATA HAPUS KOMUNITAS