---
title: 'Data Komunitas Terlapor, Data Teguran & Data Hapus Komunitas'
currentUrl: 'komunitas'
---
extends ../layouts/layout
block header
  include ../partials/header
block footer
  include ../partials/footer
block content
  main.content.container-fluid
    .mx-lg-7.py-5
      .row.g-4
        .col-3
          include ../partials/side-profile
        .col-9 
          .d-flex.flex-column.gap-4 
            .card.rounded-3.border-0
              .card-body.px-5.py-4
                +btnback(title)
            .card.rounded-3.border-0
              .card-body.p-5 
                .d-flex.justify-content-between.align-items-center
                  p.small Data Komunitas Terlapor, Data Teguran & Data Hapus Komunitas:
                .my-6
                  table.table.table-bordered
                    thead.align-middle.text-center
                      tr.table-secondary.text-uppercase
                        td komunitas yg diperingatkan
                        td postingan yang sudah <br> pernah dihapus admin
                        td status
                        td aksi
                    tbody.align-middle.text-center
                      each tbl in [1,2,3,4]
                        tr
                          td
                            .border.rounded.p-2
                              .d-flex.gap-5.align-items-center
                                .img-size-64.rounded-3
                                  img.object-fit-cover.w-100.h-100.rounded-3(src="/img/contents/profile.jpeg", alt="Alex Thomas")
                                .text-start 
                                  h6.mb-1 Red King 
                                  p.text-secondary.mb-0
                                    small Merah darah bersatu
                          td
                            a.link-info(href="/") Lihat Postingan
                          td Teguran 1
                          td
                            button.btn.btn-outline-info.text-uppercase(type="button" data-bs-toggle="modal" data-bs-target="#modal-lihat-feed") Lihat Komunitas
block modal
  +modal('modal-lihat-feed')
    .modal-header.pt-5.px-5(style="--bs-modal-header-border-width: 0;")
      h5.modal-title
      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
    .modal-body.px-5.pb-5.pt-0
      each dat in [1,2]
        .d-flex.flex-column.gap-5 
          .d-flex.align-items-center.justify-content-between 
            .d-flex.gap-4.align-items-center
              div
                img.rounded-circle.object-fit-cover.d-block(src="/img/contents/profile.jpeg",width="40", height="40", alt="Profile", style="width:40px;height:40px")
              div 
                h6.mb-0 Alex Thomas
                small.text-secondary 17 Apr 2018
          div 
            h5 Posted new attachments
            p.text-secondary.small Sometimes this is the irony of promoting your businesses products and services, because for a fact that you want to make your business
            .row.row-cols-2.gx-5 
              .col
                .feed-image
                  img.w-100.h-100.object-fit-fill(src="/img/contents/feed-image-1.png", alt="feed image")
              .col 
                .feed-image
                  img.w-100.h-100.object-fit-fill(src="/img/contents/feed-image-2.jpeg", alt="feed image")
        hr