---
title: 'Kelengkapan Profil Member Komunitas'
currentUrl: 'kelengkapan-perumahan'
group: 'komunitas'
---
extends layouts/layout
block header
  include partials/header
block footer 
  include partials/footer
block content
  main.content.container-fluid
    .mx-lg-7.py-5
      .row.g-4
        .col-3
          include partials/side-profile
        .col-9 
          .d-flex.flex-column.gap-4 
            .card.rounded-3.border-0
              .card-body.px-5.py-4
                +btnback(title)
            .card.rounded-3.border-0
              .card-body.px-5.py-4
                .text-center
                  h6.small.mb-0 KATEGORI PERUMAHAN
            .card.rounded-3.border-0
              .card-body.p-5 
                .d-flex.flex-column.gap-5 
                  .text-end 
                    button.btn.btn-secondary(type="button") Cancel 
                    button.btn.btn-primary.ms-3(type="button") Simpan
                  hr.my-0
                  div 
                    label.form-label.small(for="blok") Nama Blok
                    select#blok.select.wide(name="blok")
                      option(value="") Pilih Nama Blok
                      option(value="1") Blok Teknik
                      option(value="2") Blok KEdokteran
                      option(value="3") FISIP
                      option(value="4") STKIP
                  div 
                    label.form-label.small(for="cluster") Cluster
                    select#cluster.select.wide(name="cluster")
                      option(value="") Pilih Cluster
                      option(value="1") Cluster Teknik
                      option(value="2") Cluster Kedokteran
                      option(value="3") FISIP
                      option(value="4") STKIP
                  div 
                    label.form-label.small(for="nomor") Nomor Rumah
                    select#nomor.select.wide(name="nomor")
                      option(value="") Pilih Nomor Rumah
                      option(value="1") Nomor Rumah Teknik
                      option(value="2") Nomor Rumah Kedokteran
                      option(value="3") FISIP
                      option(value="4") STKIP