---
title: 'Laporan'
currentUrl: 'lapporan'
group: 'komunitas'
---
extends layouts/layout
block header
  include partials/header
block content
  main.content.container-fluid
    .mx-lg-7.py-5
      .row.g-4
        .col-3
          include partials/side-profile
        .col-9 
          .d-flex.flex-column.gap-4 
            .card.rounded-3.border-0
              .card-body.px-5.py-4
                .text-center 
                  h5.mb-0 Laporan
            .card.rounded-3.border-0
              .card-body.p-5 
                .row.row-cols-2.gy-5
                  .col 
                    .rounded-4.bg-info-subtle.text-info.p-5 
                      .mb-4.d-flex.justify-content-center
                        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 48 48' fill='none')
                          ellipse(cx='24' cy='33' rx='12' ry='5' stroke='#4D7CFE' stroke-width='1.5' stroke-linejoin='round')
                          circle(cx='24' cy='16' r='6' stroke='#4D7CFE' stroke-width='1.5' stroke-linejoin='round')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M11.5155 27.3706C9.66321 27.554 7.99073 27.939 6.65039 28.4752C5.69327 28.858 4.86839 29.3326 4.27052 29.8981C3.67106 30.465 3.25 31.175 3.25 32C3.25 32.8249 3.67106 33.5349 4.27052 34.1018C4.86839 34.6673 5.69327 35.1419 6.65039 35.5247C7.37065 35.8128 8.18683 36.0573 9.07527 36.2503C8.68671 35.6862 8.39632 35.0945 8.2159 34.482C7.85772 34.3744 7.52072 34.2573 7.20748 34.132C6.35495 33.791 5.71536 33.4037 5.30118 33.012C4.88858 32.6218 4.75 32.2796 4.75 32C4.75 31.7203 4.88858 31.3781 5.30118 30.9879C5.71536 30.5962 6.35495 30.2089 7.20748 29.8679C7.87208 29.602 8.64361 29.3733 9.49753 29.1932C10.0412 28.539 10.7206 27.9276 11.5155 27.3706Z' fill='#4D7CFE')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M39.7839 34.482C39.6035 35.0945 39.3131 35.6862 38.9246 36.2503C39.813 36.0573 40.6292 35.8128 41.3494 35.5247C42.3066 35.1419 43.1314 34.6673 43.7293 34.1018C44.3288 33.5349 44.7498 32.8249 44.7498 32C44.7498 31.175 44.3288 30.465 43.7293 29.8981C43.1314 29.3326 42.3066 28.858 41.3494 28.4752C40.0091 27.939 38.3366 27.554 36.4844 27.3706C37.2792 27.9276 37.9586 28.539 38.5023 29.1932C39.3562 29.3733 40.1277 29.602 40.7924 29.8679C41.6449 30.2089 42.2845 30.5962 42.6986 30.9879C43.1112 31.3781 43.2498 31.7203 43.2498 32C43.2498 32.2796 43.1112 32.6218 42.6986 33.012C42.2845 33.4037 41.6449 33.791 40.7924 34.132C40.4791 34.2573 40.1421 34.3744 39.7839 34.482Z' fill='#4D7CFE')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M32.6796 20.9704C32.4269 21.4107 32.1416 21.8299 31.8271 22.2248C32.4784 22.5605 33.2172 22.75 34.0003 22.75C36.6237 22.75 38.7503 20.6234 38.7503 18C38.7503 15.3766 36.6237 13.25 34.0003 13.25C33.8729 13.25 33.7466 13.255 33.6217 13.2649C33.7583 13.7464 33.8598 14.2427 33.9231 14.7509C33.9488 14.7503 33.9745 14.75 34.0003 14.75C35.7953 14.75 37.2503 16.2051 37.2503 18C37.2503 19.7949 35.7953 21.25 34.0003 21.25C33.5301 21.25 33.0831 21.1501 32.6796 20.9704Z' fill='#4D7CFE')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M14.3786 13.2649C14.2537 13.255 14.1275 13.25 14 13.25C11.3766 13.25 9.25 15.3766 9.25 18C9.25 20.6234 11.3766 22.75 14 22.75C14.7831 22.75 15.522 22.5605 16.1732 22.2248C15.8587 21.8299 15.5735 21.4107 15.3208 20.9704C14.9172 21.1501 14.4703 21.25 14 21.25C12.2051 21.25 10.75 19.7949 10.75 18C10.75 16.2051 12.2051 14.75 14 14.75C14.0258 14.75 14.0516 14.7503 14.0773 14.7509C14.1406 14.2427 14.242 13.7464 14.3786 13.2649Z' fill='#4D7CFE')
                      .text-center 
                        p LAPORAN PENGURUS, ANGGOTA & IURAN KOMUNITAS
                  .col 
                    .rounded-4.bg-info-subtle.text-info.p-5 
                      .mb-4.d-flex.justify-content-center
                        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 48 48' fill='none')
                          path(d='M4.75 4C4.75 3.58579 4.41421 3.25 4 3.25C3.58579 3.25 3.25 3.58579 3.25 4H4.75ZM44 44.75C44.4142 44.75 44.75 44.4142 44.75 44C44.75 43.5858 44.4142 43.25 44 43.25V44.75ZM31 17.25C30.5858 17.25 30.25 17.5858 30.25 18C30.25 18.4142 30.5858 18.75 31 18.75L31 17.25ZM36.5528 19.1056L35.882 19.441V19.441L36.5528 19.1056ZM37.3292 22.3354C37.5144 22.7059 37.9649 22.8561 38.3354 22.6708C38.7059 22.4856 38.8561 22.0351 38.6708 21.6646L37.3292 22.3354ZM35.6272 19.4112L36.0384 18.784L34.784 17.9616L34.3728 18.5888L35.6272 19.4112ZM29.5288 27.3457L28.9016 26.9345L29.5288 27.3457ZM26.1453 27.2849L25.5037 27.6732L26.1453 27.2849ZM22.3289 20.9801L21.6873 21.3685L22.3289 20.9801ZM18.8609 21.0604L18.202 20.7021L18.8609 21.0604ZM13.3411 29.6417C13.1432 30.0056 13.2778 30.461 13.6417 30.6589C14.0056 30.8568 14.461 30.7222 14.6589 30.3583L13.3411 29.6417ZM3.25 4L3.25 36H4.75L4.75 4H3.25ZM12 44.75L44 44.75V43.25L12 43.25V44.75ZM3.25 36C3.25 40.8325 7.16751 44.75 12 44.75V43.25C7.99594 43.25 4.75 40.0041 4.75 36H3.25ZM31 18.75H34.7639V17.25H31L31 18.75ZM35.882 19.441L37.3292 22.3354L38.6708 21.6646L37.2236 18.7702L35.882 19.441ZM34.7639 18.75C35.2374 18.75 35.6702 19.0175 35.882 19.441L37.2236 18.7702C36.7578 17.8385 35.8056 17.25 34.7639 17.25V18.75ZM34.3728 18.5888L28.9016 26.9345L30.1561 27.7569L35.6272 19.4112L34.3728 18.5888ZM26.7869 26.8965L22.9705 20.5917L21.6873 21.3685L25.5037 27.6732L26.7869 26.8965ZM18.202 20.7021L13.3411 29.6417L14.6589 30.3583L19.5198 21.4187L18.202 20.7021ZM22.9705 20.5917C21.8712 18.7757 19.2161 18.8371 18.202 20.7021L19.5198 21.4187C19.9807 20.5709 21.1876 20.543 21.6873 21.3685L22.9705 20.5917ZM28.9016 26.9345C28.3974 27.7037 27.2631 27.6833 26.7869 26.8965L25.5037 27.6732C26.5514 29.4042 29.0467 29.4491 30.1561 27.7569L28.9016 26.9345Z' fill='#4D7CFE')
                      .text-center 
                        p LAPORAN PROGRES USAHA <br> ANGGOTA KOMUNITAS
                  .col 
                    .rounded-4.bg-info-subtle.text-info.p-5 
                      .mb-4.d-flex.justify-content-center
                        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewbox='0 0 48 48' fill='none')
                          path(d='M16 14C16 11.7909 17.7909 10 20 10L36 10C38.2091 10 40 11.7909 40 14V30C40 32.2091 38.2091 34 36 34H20C17.7909 34 16 32.2091 16 30L16 14Z' stroke='#4D7CFE' stroke-width='1.5' stroke-linejoin='round')
                          path(d='M14 40C14 42.2091 12.2091 44 10 44C7.79086 44 6 42.2091 6 40C6 37.7909 7.79086 36 10 36C12.2091 36 14 37.7909 14 40Z' stroke='#4D7CFE' stroke-width='1.5')
                          path(d='M10 36L10 8C10 5.79086 8.20914 4 6 4L4 4' stroke='#4D7CFE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M14 40L44 40' stroke='#4D7CFE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                          path(d='M26 16H30' stroke='#4D7CFE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                      .text-center 
                        p LAPORAN SYIRKAH ANTAR <br> ANGGOTA KOMUNITAS
                  .col 
                    .rounded-4.bg-info-subtle.text-info.p-5 
                      .mb-4.d-flex.justify-content-center
                        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='49' viewbox='0 0 48 49' fill='none')
                          path(d='M4 14.5C4 10.0817 7.58172 6.5 12 6.5L36 6.5C40.4183 6.5 44 10.0817 44 14.5V34.5C44 38.9183 40.4183 42.5 36 42.5L12 42.5C7.58172 42.5 4 38.9183 4 34.5L4 14.5Z' stroke='#4D7CFE' stroke-width='1.5' stroke-linejoin='round')
                          path(d='M44 18.5L44 30.5H36C32.6863 30.5 30 27.8137 30 24.5C30 21.1863 32.6863 18.5 36 18.5L44 18.5Z' stroke='#4D7CFE' stroke-width='1.5' stroke-linejoin='round')
                      .text-center 
                        p LAPORAN DAMPAK SOSIAL Tenaga Kerja Terserap & Donasi Tersalurkan

block footer 
  include partials/footer