---
title: 'Tambah Pengumuman'
currentUrl: 'pengumuman-tambah'
group: 'komunitas'
---
extends layouts/layout
block header
  include partials/header
block content
  main.content.container-fluid
    .mx-lg-7.py-5
      .row.g-4
        .col-3
          include partials/side-profile
        .col-9 
          .d-flex.flex-column.gap-4 
            .card.rounded-3.border-0
              .card-body.px-5.py-4
                +btnback('Tambah Pengumuman')
            .card.rounded-3.border-0
              .card-body.p-5 
                .d-flex.flex-column.gap-5 
                  .text-end 
                    button.btn.btn-secondary(type="button") Cancel 
                    button.btn.btn-primary.ms-3(type="button") Simpan
                  hr.my-0
                  div 
                    label.form-label.small(for="judul") Judul
                    input.form-control#judul(type="text" placeholder="Tulis Judul")
                  div 
                    label.form-label.small(for="kategori-komunitas") Kategori
                    select#kategori-komunitas.select.wide(name="kategori-komunitas")
                      option(value="") Pilih Kategori
                      option(value="1") Sekolah/kampus/alumni
                      option(value="2") Perumahan
                      option(value="3") Keluarga
                      option(value="4") Wirausaha/bisnis
                      option(value="5") Hoby
                      option(value="6") Asosiasi/perkumpulan profit
                      option(value="7") Asosiasi/perkumpulan non profit
                  div 
                    label.form-label.small(for="pengumuman") Pengumuman
                    textarea.form-control#pengumuman(rows="3" placeholder="Tulis isi pengumuman disini")
block footer 
  include partials/footer