include mixins
doctype html
html(lang="en")
  head
    include head
  body
    block header
    block content
    block footer
    block modal
      script(src="/js/lib/jquery.min.js")
      script(src="/js/lib/bootstrap.bundle.min.js")
      script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js")
      script(src="/js/lib/moment.min.js")
      script(src="/js/lib/slick.min.js")
      script(src="/js/lib/jquery.nice-select.min.js")
      script(src="/js/lib/apexcharts.min.js")
      script(src="/js/app.js")
    block scripts