mixin navitem(url)
  li.nav-item
    a.nav-link.px-2(href='/'+url+'.html', class={'active': currentUrl === url})
      block
mixin groupitem(url,list=[])
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(href='#' class={'active': currentUrl === url} role='button' data-bs-toggle='dropdown' aria-expanded='false')
      block
    ul.dropdown-menu
      each item in list
        li
          a.dropdown-item.text-capitalize(href='/'+item+'.html')=item
mixin btn()
  button.btn.btn-danger.py-2.text-uppercase(type="button")
    block
mixin modal(id)
  <!-- Modal -->
  .modal.fade(id=id tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog(class=attributes.class)
      .modal-content
        block
mixin btnback(title)
  .d-flex.gap-4.align-items-center
    div
      a.btn.text-primary(type="button" href="/")
        i.bi.bi-arrow-left
        span.ms-4 Kembali
    .text-center.mx-auto
      h5.mb-0.fw-normal=title 
    .visible 
      button.btn.text-white(type="button")
        i.bi.bi-arrow-left
        span.ms-4 Kembali